{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultiAuto</title>
    <link rel="stylesheet" href="{% static 'lib/adminlte/plugins/fontawesome-free/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/adminlte/dist/css/adminlte.min.css' %}" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'lib/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap4-theme/1.5.2/select2-bootstrap4.min.css"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <link rel="stylesheet" href="{% static 'lib/adminlte/css/adminlte.min.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
      .marker {
        position: absolute;
        background-color: transparent;
        width: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 10;
      }
      .marker i {
        color: red;
        font-size: 20px;
      }
      .comment-box {
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        width: 250px;
        display: none;
        z-index: 1000;
      }
      #carImageContainer {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 800px;
      }
      #carImage {
        width: 100%;
        height: auto;
        max-width: 800px;
        display: block;
      }
      #markerContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
      #markerContainer .marker,
      #markerContainer .comment-box {
        pointer-events: auto;
      }
      .marker:hover .comment-box {
        display: block;
      }
        .custom-font {
  font-family: 'Merriweather', sans-serif;
}
    </style>
    {% block extra_styles %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini layout-footer-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="{% url 'home2' %}" class="nav-link">Inicio</a>
                </li>
            </ul>

            <!-- Right navbar links -->
              <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <!-- Navbar Search -->
          <li class="nav-item">
            
          </li>

          <!-- Messages Dropdown Menu -->
          
          <!-- Notifications Dropdown Menu -->
          <li class="nav-item dropdown">
            
            
          </li>
          <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </li>
          
        </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
          
                <a href="{% url 'home2' %}" class="brand-link text-center font-size-5 custom-font">
                    <b class="">MultiAuto</b>
                </a>
            

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="https://ui-avatars.com/api/?name={{ request.user.nombre }}+{{ request.user.apellido }}&background=random&color=fff&size=50" alt="" class="img-size-50 img-circle mr-3">
                    </div>
                    <div class="info">
                        <b class="text-white">{{ request.user.nombre }} {{ request.user.apellido }}</b>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Buscar" aria-label="Search" />
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="nav-icon fas fa-list"></i>
                                <p>
                                    Ordenes
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{%  url 'ordenesM' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Órdenes Pendientes</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{%  url 'listaProgreso' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Lista Progreso</p>
                                    </a>
                                    <a href="{%  url 'ordenesCompletas' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Órdenes Completadas</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="nav-icon fas fa-check"></i>
                                <p>
                                    Inspecciones
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{%  url 'listarInspeccionM' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Lista Inspecciones</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link">
                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                <p>Salir</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class=" col-sm-6">
                            <h1> <strong><span style="color: red;">MULTI</span></strong><strong><span style="color: blue;">AUTO</span></strong></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{%  url 'home2' %}">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'logout' %}">Salir</a></li>
                  
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Main content -->
            {% block body %}
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Órdenes Pendientes -->
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>{{ ordenes_pendientes_count }}</h3>
                                    <p>Órdenes Pendientes</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-clock"></i> <!-- Icono de reloj para pendientes -->
                                </div>
                                <a href="{% url 'ordenesM' %}" class="small-box-footer">Más info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                        <!-- Órdenes en Progreso -->
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>{{ ordenes_progreso_count }}</h3>
                                    <p>Órdenes en Progreso</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-spinner"></i> <!-- Icono de spinner para progreso -->
                                </div>
                                <a href="{% url 'listaProgreso' %}" class="small-box-footer">Más info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                        <!-- Órdenes Buscando Repuestos -->
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>{{ ordenes_buscando_repuestos_count }}</h3>
                                    <p>Órdenes Buscando Repuestos</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-tools"></i> <!-- Icono de herramientas para buscando repuestos -->
                                </div>
                                <a href="{% url 'listaProgreso' %}" class="small-box-footer">Más info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                        <!-- Órdenes Completadas -->
                        
                        <div class="col-lg-3 col-6">
        <div class="small-box bg-secondary">
          <div class="inner">
            <h3>{{ ordenes_finalizadas_count }}</h3>
            <p>Órdenes Finalizadas</p>
          </div>
          <div class="icon">
            <i class="fas fa-flag-checkered"></i> <!-- Icono de bandera para finalizadas -->
          </div>
          <a href="{% url 'ordenesCompletas' %}" class="small-box-footer">Más info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
                    </div>
                </div>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Gráfica Órdenes por Estado -->
                            <div class="col-lg-6 col-12">
                                <div class="card">
                                    <div class="card-header bg-danger">
                                        <h3 class="card-title">Órdenes por Estado</h3>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="ordenesEstadoChart"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="ordenesPorEstadoModal" tabindex="-1" role="dialog"
                                aria-labelledby="ordenesPorEstadoModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-danger">
                                            <h5 class="modal-title"><strong>Órdenes por Estado:</strong> <span id="modalEstado"></span></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <table id="tbl_ordenes_estado" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Número de Orden</th>
                                                        <th>Fecha</th>
                                                        <th>Cliente</th>
                                                        <th>Vehículo</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Las filas se llenarán dinámicamente con JavaScript -->
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Gráfica Órdenes Completadas por Mes -->
                            <div class="col-lg-6 col-12">
                                <div class="card">
                                    <div class="card-header bg-primary">
                                        <h3 class="card-title">Órdenes Completadas por Mes</h3>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="ordenesPorMesChart"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div id="ordenesModal1" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-primary">
                                            <h5 class="modal-title">Órdenes del Mes: <span id="modalMes"></span></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card-body table-responsive p-0">
                                                <table id="tbl_ordenes_f" class="table table-head-fixed text-nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>Número de Orden</th>
                                                            <th>Fecha de Inicio</th>
                                                            <th>Fecha Fin</th>
                                                            <th>Cliente</th>
                                                            <th>Vehiculo</th>
                                                            <th>Estado</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                            
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            {% endblock %}
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <strong> <a href="{%  url 'home2' %}">MultiAuto</a>.</strong>
        </footer>

        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
    </div>

    <script src="{% static 'lib/adminlte/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/js/adminlte.min.js'%}"></script>
    <script src="{% static 'lib/adminlte/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/plugins/jquery-validation/additional-methods.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/plugins/datatables/jquery.dataTables.min.js'  %}"></script>
    <script src="{% static 'lib/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'lib/adminlte/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/plugins/datatables-buttons/js/buttons.colVis.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    {% block extra_scripts %}{% endblock %}
    <script>
        var ordenesEstadoCtx = document.getElementById('ordenesEstadoChart').getContext('2d');
        var ordenesEstadoChart = new Chart(ordenesEstadoCtx, {
            type: 'pie',
            data: {
                labels: [
                    {% for orden in ordenes_por_estado %}
                        '{{ orden.estado_ord }}'{% if not forloop.last %}, {% endif %}
        {% endfor %}
                ],
        datasets: [{
            data: [
                {% for orden in ordenes_por_estado %}
                            {{ orden.total }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
                    ],
        backgroundColor: ['#008000', '#808080', '#FFFF00', '#0000FF', '#FFFF00']
                }]
            },
        options: {
            responsive: true,
                maintainAspectRatio: false,
                    legend: {
                position: 'top',
                },
            title: {
                display: true,
                    text: 'Órdenes por Estado'
            },
            onClick: function(event, elements) {
                if (elements.length > 0) {
                    var estadoSeleccionado = elements[0].index;
                    var estadoLabel = this.data.labels[estadoSeleccionado];
                    document.getElementById('modalEstado').innerText = estadoLabel;
                    fetch(`/obtener_ordenes_por_estado_m/${estadoLabel}/`)
                        .then(response => response.json())
                        .then(data => {
                            const tablaOrdenes = document.getElementById('tbl_ordenes_estado').getElementsByTagName('tbody')[0];
                            tablaOrdenes.innerHTML = '';  // Limpiar la tabla antes de llenarla de nuevo

                            data.ordenes.forEach((orden) => {
                                const row = tablaOrdenes.insertRow();
                                row.innerHTML = `
                                        <tr class="align-middle">
                                          <td>${orden.numero_ord}</td>
                                          <td>${new Date(orden.fecha_ord).toLocaleString()}</td>
                                          <td>${orden.vehiculo_id__cli_id__nombre_cli} ${orden.vehiculo_id__cli_id__apellido_cli}</td>
                                          <td>${orden.vehiculo_id__marca_veh} ${orden.vehiculo_id__modelo_veh} ${orden.vehiculo_id__placa_veh}</td>
                                          
                                        </tr>`;
                            });

                            // Muestra el modal
                            $('#ordenesPorEstadoModal').modal('show');
                        })
                        .catch(error => console.error('Error:', error));
                }
            }
        }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Gráfica de órdenes por estado

            var ordenesMesCtx = document.getElementById('ordenesPorMesChart').getContext('2d');
            var ordenesMesChart = new Chart(ordenesMesCtx, {
                type: 'bar',
                data: {
                    labels: [
                        {% for orden in ordenes_completadas_por_mes %}
                            'Mes {{ orden.month }}'{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    datasets: [{
                        label: 'Órdenes Completadas por Mes',
                        data: [
                            {% for orden in ordenes_completadas_por_mes %}
                                {{ orden.total }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ],
                        backgroundColor: '#36A2EB'
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Órdenes Completadas por Mes'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                   onClick: function(event, elements) {
                        if (elements.length > 0) {
                            var monthIndex = elements[0].index;
                            var monthLabel = this.data.labels[monthIndex];
                            var month = parseInt(monthLabel.split(' ')[1]);
                            document.getElementById('modalMes').innerText = month;
                            console.log(month)
                            fetch(`/obtener_ordenes_finalizadas_por_mes_m/${month}/`)
                                .then(response => response.json())
                                .then(data => {
                                    console.log(data);
                                    const tablaOrdenes = document.getElementById('tbl_ordenes_f').getElementsByTagName('tbody')[0];
                                    tablaOrdenes.innerHTML = '';  // Limpiar la tabla antes de llenarla de nuevo

                                    data.ordenes.forEach((orden) => {
                                        // Define el color de fondo basado en el estado
                                        let estadoClass;
                                        switch (orden.estado_ord) {
                                            case 'PENDIENTE':
                                                estadoClass = 'bg-danger text-light'; // Rojo
                                                break;
                                            case 'EN_PROGRESO':
                                                estadoClass = 'bg-warning text-dark'; // Amarillo
                                                break;
                                            case 'ESPERANDO_REPUESTOS':
                                                estadoClass = 'bg-info text-dark'; // Azul
                                                break;
                                            case 'COMPLETADA':
                                                estadoClass = 'bg-success text-light'; // Verde
                                                break;
                                            case 'FINALIZADA':
                                                estadoClass = 'bg-secondary text-light'; // Gris
                                                break;
                                            default:
                                                estadoClass = 'bg-light'; // Por defecto
                                                break;
                                        }
                                        const row = tablaOrdenes.insertRow();
                                        row.innerHTML = `
                <tr class="align-middle">
                   <td>${orden.numero_ord}</td>
          <td>${new Date(orden.fecha_ord).toLocaleString()}</td>
          <td>${orden.fecha_fin_ord ? new Date(orden.fecha_fin_ord).toLocaleString() : 'N/A'}</td> <!-- Aquí agregamos fecha_fin_ord -->
          <td>${orden.vehiculo_id__cli_id__nombre_cli} ${orden.vehiculo_id__cli_id__apellido_cli}</td>
          <td>${orden.vehiculo_id__marca_veh} ${orden.vehiculo_id__modelo_veh} ${orden.vehiculo_id__placa_veh}</td>
           <td>
              <span class="badge ${estadoClass}">${orden.estado_ord}</span>
            </td>
                </tr>`;
                                    });

                                    // Muestra el modal
                                    $('#ordenesModal1').modal('show');
                                })
                                .catch(error => console.error('Error:', error));
                        }
                    }
                }
                
            });
        });
    </script>

    {% if messages %}
        {% for message in messages %}
            <script type="text/javascript">
                iziToast.{{ message.tags }}({
                    title: '{{ message.tags|title }}: ',
                    message: '{{ message }}',
                    position: 'topRight'
                });
            </script>
        {% endfor %}
    {% endif %}
</body>
</html>
